<div *ngIf="this.userService.currentUser$ | async; let user">
  <div
    *ngIf="user.isNotAuthenticated"
    class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12"
  >
    <div
      class="absolute inset-0 bg-[url(/img/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"
    ></div>
    <div
      class="relative bg-white px-6 pb-8 pt-10 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10"
    >
      <div class="mx-auto max-w-md">
        <img
          src="assets/photos/long-form-logo-transparency.png"
          class="h-6"
          alt="Tailwind Play"
        />
        <div class="divide-y divide-gray-300/50">
          <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
            <p>PJL Software's Full-stack Web Application Demo with:</p>
            <ul class="space-y-4">
              <li class="flex items-center">
                <svg
                  class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <circle cx="12" cy="12" r="11" />
                  <path
                    d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9"
                    fill="none"
                  />
                </svg>
                <p class="ml-4">
                  <code class="text-sm font-bold text-gray-900"
                    >Angular 17+
                  </code>
                  front-end.
                  <code class="text-sm font-bold text-gray-900"
                    >Spring Boot 3</code
                  >
                  back-end.
                  <code class="text-sm font-bold text-gray-900"
                    >PostgreSQL</code
                  >
                  database. Styled with
                  <code class="text-sm font-bold text-gray-900">Tailwind</code>.
                  All running locally on
                  <code class="text-sm font-bold text-gray-900">Docker.</code>
                </p>
              </li>
              <li class="flex items-center">
                <svg
                  class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <circle cx="12" cy="12" r="11" />
                  <path
                    d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9"
                    fill="none"
                  />
                </svg>
                <p class="ml-4">
                  <code class="text-sm font-bold text-gray-900"
                    >Spring Security OAuth2</code
                  >
                  integration. Role authorized endpoints.
                  <code class="text-sm font-bold text-gray-900">JWT SSO</code>
                  managed by Google Sign-on.
                </p>
              </li>
              <li class="flex items-center">
                <svg
                  class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <circle cx="12" cy="12" r="11" />
                  <path
                    d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9"
                    fill="none"
                  />
                </svg>
                <p class="ml-4">
                  All
                  <code class="text-sm font-bold text-gray-900"
                    >source code</code
                  >
                  available at the
                  <a
                    href="https://github.com/pjl-software/full-stack-auth-repo"
                    target="_blank"
                    >PJL Software GitHub</a
                  >
                  and code
                  <code class="text-sm font-bold text-gray-900"
                    >walkthrough videos</code
                  >
                  on
                  <a
                    href="https://www.youtube.com/@pjl-software/featured"
                    target="_blank"
                    >YouTube</a
                  >.
                </p>
              </li>
            </ul>
            <p>
              Perfect for learning web apps by tinkering and skipping the
              boilerplate to the value-add business functionality.
            </p>
          </div>
          <div class="pt-8 text-base font-semibold leading-7">
            <p class="text-gray-900">Want to see the rest?</p>
            <p class="text-sky-500 hover:text-sky-600">
              Sign in with your Gmail. &darr;
            </p>
            <div class="flex items-center justify-center pt-4">
              <asl-google-signin-button
                type="standard"
                size="medium"
              ></asl-google-signin-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div *ngIf="user.isAuthenticated">
      <app-log-out-button></app-log-out-button>
      <br />

      <br /><br />

      <div>
        <h4>Welcome {{ user.firstName }}!</h4>
      </div>

      <div>
        <app-create-user-button></app-create-user-button>
      </div>
      <br /><br /><br />

      <div>
        <app-view-users></app-view-users>
      </div>
      <br /><br /><br />

      <div *ngIf="user.isAdmin">
        <app-delete-user-button></app-delete-user-button>
      </div>
      <br /><br /><br />
    </div>

    <!-- <div *ngIf="user.isNotAuthenticated">
      <div class="">
        <h3 class="text-center text-4xl font-semibold">
          Please Sign-in with a valid Gmail to Continue
        </h3>
        <div class="flex items-center justify-center">
          <asl-google-signin-button
            type="standard"
            size="medium"
          ></asl-google-signin-button>
        </div>
      </div>
    </div> -->
  </div>
</div>
