<div *ngIf="this.userService.currentUser$ | async; let user">
  <div
    *ngIf="user.isNotAuthenticated"
    class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 pb-20 sm:py-10"
  >
    <p
      *ngIf="accountDeleted"
      class="mt-10 text-center text-2xl font-bold text-red-600"
    >
      {{ accountDeletedMessage }}
    </p>
    <div
      class="absolute inset-0 bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"
    ></div>
    <div
      class="relative bg-white px-6 pb-8 pt-10 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10"
    >
      <div class="mx-auto max-w-md">
        <a href="https://pjlindustries.com" target="_blank">
          <img
            src="assets/photos/long-form-logo-transparency.png"
            class="h-6"
            alt="Tailwind Play"
          />
        </a>
        <div class="divide-y divide-gray-300/50">
          <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
            <h2 class="font-bold">
              PJL Software's Full-stack Web Application Demo with:
            </h2>
            <ul class="space-y-4">
              <li class="flex items-center">
                <svg
                  class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <circle cx="12" cy="12" r="11" />
                  <path
                    d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9"
                    fill="none"
                  />
                </svg>
                <p class="ml-4">
                  <code class="text-sm font-bold text-gray-900"
                    >Angular 17+
                  </code>
                  front-end.
                  <code class="text-sm font-bold text-gray-900"
                    >Spring Boot 3</code
                  >
                  back-end.
                  <code class="text-sm font-bold text-gray-900"
                    >PostgreSQL</code
                  >
                  database. Styled with
                  <code class="text-sm font-bold text-gray-900">Tailwind</code>.
                  All running locally on
                  <code class="text-sm font-bold text-gray-900">Docker.</code>
                </p>
              </li>
              <li class="flex items-center">
                <svg
                  class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <circle cx="12" cy="12" r="11" />
                  <path
                    d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9"
                    fill="none"
                  />
                </svg>
                <p class="ml-4">
                  <code class="text-sm font-bold text-gray-900"
                    >Spring Security OAuth2</code
                  >
                  integration. Role authorized endpoints.
                  <code class="text-sm font-bold text-gray-900">JWT SSO</code>
                  managed by Google Sign-on.
                </p>
              </li>
              <li class="flex items-center">
                <svg
                  class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <circle cx="12" cy="12" r="11" />
                  <path
                    d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9"
                    fill="none"
                  />
                </svg>
                <p class="ml-4">
                  All
                  <code class="text-sm font-bold text-gray-900"
                    >source code</code
                  >
                  available at the
                  <a
                    class="text-blue-600 underline visited:text-purple-600 hover:text-blue-800"
                    href="https://github.com/pjl-software/full-stack-auth-repo"
                    target="_blank"
                    >PJL Software GitHub</a
                  >
                  and code
                  <code class="text-sm font-bold text-gray-900"
                    >walkthrough videos</code
                  >
                  on
                  <a
                    class="text-blue-600 underline visited:text-purple-600 hover:text-blue-800"
                    href="https://www.youtube.com/@pjl-software/featured"
                    target="_blank"
                    >YouTube</a
                  >.
                </p>
              </li>
            </ul>
            <p>
              Perfect for learning web apps by tinkering and
              <code class="text-sm font-bold text-gray-900"
                >ready for the value-add business functionality</code
              >.
            </p>
          </div>
          <div class="pb-8 pt-8 text-base font-semibold leading-7">
            <p class="text-gray-900">Want to see the rest?</p>
            <p class="text-sky-500 hover:text-sky-600">
              Sign in with your Gmail. &darr;
            </p>
            <div class="flex items-center justify-center pt-4">
              <asl-google-signin-button
                type="standard"
                size="medium"
              ></asl-google-signin-button>
            </div>
          </div>
          <div class="flex justify-evenly pt-8">
            <a href="https://www.linkedin.com/in/peterlinnehan/" target="_blank"
              ><i class="fa-brands fa-linkedin fa-lg"></i
            ></a>
            <a href="https://github.com/pjl-software/" target="_blank"
              ><i class="fa-brands fa-github fa-lg"></i
            ></a>
            <a
              href="https://www.youtube.com/@pjl-software/featured"
              target="_blank"
              ><i class="fa-brands fa-youtube fa-lg"></i
            ></a>
            <a href="https://twitter.com/PeterLinnehan" target="_blank"
              ><i class="fa-brands fa-x-twitter fa-lg"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div *ngIf="user.isAuthenticated === true" class="min-h-screen">
    <nav class="bg-gray-800">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
          <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
            <!-- Mobile menu button-->
            <button
              type="button"
              class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
              aria-controls="mobile-menu"
              aria-expanded="false"
              (click)="toggleMobileMenu()"
            >
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Open main menu</span>
              <svg
                class="h-6 w-6"
                [ngClass]="{ block: !openMobileMenu, hidden: openMobileMenu }"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
              <svg
                class="h-6 w-6"
                [ngClass]="{ hidden: !openMobileMenu, block: openMobileMenu }"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
          <div
            class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
          >
            <div class="flex flex-shrink-0 items-center">
              <img
                class="h-8 w-auto"
                src="assets/photos/starship-only-transparency.png"
                alt="Your Company"
              />
            </div>
            <div class="hidden sm:ml-6 sm:block">
              <div class="flex space-x-4">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a
                  href="#"
                  class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white"
                  aria-current="page"
                  >User Dashboard</a
                >
                <!-- <a
                  *ngIf="user.isAdmin"
                  href="#"
                  class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
                  >Admin Dashboard</a
                > -->
              </div>
            </div>
          </div>
          <div
            class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
          >
            <!-- Profile dropdown -->
            <div class="relative ml-3">
              <div>
                <button
                  type="button"
                  class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                  id="user-menu-button"
                  aria-expanded="false"
                  aria-haspopup="true"
                  (click)="toggleBrowserMenu()"
                >
                  <span class="absolute -inset-1.5"></span>
                  <span class="sr-only">Open user menu</span>
                  <img
                    class="h-8 w-8 rounded-full"
                    src="{{ user.photoUrl }}"
                    alt=""
                  />
                </button>
              </div>

              <div
                *ngIf="openDropdown"
                class="absolute right-0 z-10 mt-2 w-48 origin-top-right scale-100 transform rounded-md bg-white py-1 opacity-100 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="user-menu-button"
                tabindex="-1"
              >
                <a
                  (click)="deleteAccount()"
                  href="#"
                  class="block px-4 py-2 text-sm text-red-700"
                  role="menuitem"
                  tabindex="-1"
                  id="user-menu-item-2"
                  >Delete Account</a
                >
                <a
                  (click)="logOutUser()"
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700"
                  role="menuitem"
                  tabindex="-1"
                  id="user-menu-item-2"
                  >Sign out</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Mobile menu, show/hide based on menu state. -->
      <div
        [ngClass]="{ hidden: !openMobileMenu, block: openMobileMenu }"
        id="mobile-menu"
      >
        <div class="space-y-1 px-2 pb-3 pt-2">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <!-- Selected: "block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white" -->
          <a
            href="#"
            class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
            aria-current="page"
            >User Dashboard</a
          >
          <!-- <a
            href="#"
            class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
            >Team</a
          >
          <a
            href="#"
            class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
            >Projects</a
          >
          <a
            href="#"
            class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
            >Calendar</a
          > -->
        </div>
      </div>
    </nav>
    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">
          {{ user.firstName }}'s Dashboard
        </h1>
        <p>(Account Creation Date: {{ user.createdAt | date: "long" }})</p>
      </div>
    </header>
    <main>
      <div class="mx-auto max-w-7xl py-6 pb-10 pt-10 sm:px-6 lg:px-8">
        <app-view-users></app-view-users>
        <div class="justify-center md:columns-3">
          <app-create-user-button></app-create-user-button>
        </div>
      </div>
      <div *ngIf="user.isAdmin" class="bg-gray-200 px-6 py-24 sm:py-32 lg:px-8">
        <div
          class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
          aria-hidden="true"
        >
          <div
            class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
            style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            "
          ></div>
        </div>
        <div class="mx-auto max-w-2xl text-center">
          <h2
            class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Admin Panel
          </h2>
          <p class="mt-2 text-lg leading-8 text-gray-600">
            You can delete users here.
          </p>
        </div>
        <div>
          <app-delete-user-button></app-delete-user-button>
        </div>
      </div>
    </main>
  </div>
</div>
