<app-core-layout></app-core-layout>
<footer class="fixed bottom-0 w-full bg-gray-900 py-8">
  <div class="container mx-auto flex justify-evenly">
    <a href="https://www.linkedin.com/in/peterlinnehan/" target="_blank"
      ><i class="fa-brands fa-linkedin fa-lg" style="color: #63e6be"></i
    ></a>
    <a href="https://github.com/pjl-software/" target="_blank"
      ><i class="fa-brands fa-github fa-lg" style="color: #63e6be"></i
    ></a>
    <a href="https://www.youtube.com/@pjl-software/featured" target="_blank"
      ><i class="fa-brands fa-youtube fa-lg" style="color: #63e6be"></i
    ></a>
    <a href="https://twitter.com/PeterLinnehan" target="_blank"
      ><i class="fa-brands fa-x-twitter fa-lg" style="color: #63e6be"></i
    ></a>
  </div>
</footer>
